// colors
$primary: #EF2779;
$seconday: #38A3F1;
$light: #ffffff;
// rules
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul { 
    list-style: none;
}

body {
    background-color: #252B42;
    background-image: url(../img/header.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;  
    color: $light; 
}

figure {
    text-align: center;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.none {
    display:none;
}

.top-header {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;

    .top-header__logo {
        margin-left: 40px;
    }

    .top-header__menu {
        margin-left: auto;
        margin-right: 55px;
        ul {
            display: flex;
            li {
                margin-left: 41px;
                a {
                    &:hover {
                        color: $primary;
                    }
                    transition: 400ms;
                   color: $light;
                   text-decoration: none;
                   font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 27px;
                    text-align: center;
                    letter-spacing: 0.2px;
                }
            }
        }
    }

    .top-header__form {
        input[type="text"]{
            cursor: pointer;
            padding: 19px 39px;
            width: 271px;
            height: 52px;
            background: #EFEFEF;
            border: 2px solid #EFEFEF;;
            border-radius: 39px;
            margin-right: 8px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.1px;
            color: #18171D;
            outline: 0;
            transition: 400ms;

            &:focus {
                border: 2px solid $primary;
            }
        }

        input[type="submit"]{
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }

            transition: 400ms;
            padding: 19px 38px;
            gap: 10px;
            width: 141px;
            height: 54px;
            background: #FFFFFF;
            border: 0;
            border-radius: 35px;
            color: $primary;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.2px;
            margin-right: 40px;       
        }
    }
}

.page-hero {
    display: flex;
    margin-top: 141px;

    .page-hero__content--left{
        img {
            max-width: 806px;
            width: 100%;
        }
    }

    .page-hero__content--right {
        padding-left: 60px;
        padding-top: 74px;
        h1 {
            color: $light;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 900;
            font-size: 55px;
            line-height: 66px;
            letter-spacing: 0.2px;            
        }

        h4 {
            color: $light;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.2px;
            margin-top: 27px;         
        }
        .cta-button {
            margin-top: 69px;
        }
    }
}

.cta-button {
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    transition: 400ms;
    color: $seconday;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 236px;
    height: 65px;
    border-radius: 34px;
    border: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}

.section-headline {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.1px;
    color: $light;
}

.section-title {
    &.dark {
        color: #252B42;
    }

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: $light;
}

.section-subtitle {
    &.dark {
        color: #252B42;
    }

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: $light;
}

.section-heading-three {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-top: 9px;
    margin-left: 9px;
}

.features {
    max-width: 869px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 180px;
    gap: 50px;
    display: grid;
    grid-template-areas:'grid-item-1 grid-item-1 grid-item-1''grid-item-2 grid-item-3 grid-item-4';

    .grid-item-1 {
        grid-area: grid-item-1;
    }

    .grid-item-2 {
        grid-area: grid-item-2;
    }
    .grid-item-3 {
        grid-area: grid-item-3;
    }

    .grid-item-4 {
        grid-area:grid-item-4;
    }

    .features__article--top {
        h1 {
            margin-top: 18px;
        }
        .section-subtitle {
            margin-top: 26px;
        }
    }

    .features__article {
        margin-top: 40px;
        header {
            display: flex;

            .features__article__title {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 33px;
                letter-spacing: 0.1px;
                color: #FFFFFF;
                margin-top: 9px;
                margin-left: 9px;
            }
        }

        p {
            margin-top: 21px;
        }
    }
}

.prototyping {
    margin-top: 200px;

    .section-subtitle {
        margin-top: 28px;
    }

    .cta-button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 89px;
        background-color: $seconday;
        color: $light;
    }

    figure {
        margin-top: 112px;
        img {
            max-width: 1034px;
            width: 100%;
        }
    }
}

.subscribe {
    margin-top: 211px;

    .section-title {
        margin-top: 8px;
        margin-bottom: 68px;
    }

    .section-headline {
        &:nth-child(3) {
            margin-bottom: 10px;
        }
    }

    .subscribe__form {
        input[type=text]{
            cursor: pointer;
            width: 353px;
            height: 54px;
            background: #F4F4F4;
            border: 2px solid #E8E8E8;
            border-radius: 39px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 35px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            padding-left: 35px;
            outline: 0;

            &:focus {
                border: 2px solid $primary;
            }
        }

        input[type=submit] {
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }

            transition: 400ms;
            padding: 17px 35px;
            gap: 10px;
            width: 353px;
            height: 50px;
            background: $primary;
            border-radius: 35px;
            border: 0;
            color: #ffffff;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 12px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.2px;
        }
    }
}

.partners {
    margin-top: 233px;

    .section-title {
        margin-bottom: 27px;
    }

    .clients {
        margin-top: 103px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        width: 886px;
        grid-template-areas:
        'clients__card--1 clients__card--2 clients__card--3'
        'clients__card--4 clients__card--5 clients__card--6';

        .clients__card {
            margin-bottom: 20px;
            margin-bottom: 89px;

            .clients__card__title {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.1px;
                color: $light;
                text-align: center;
            }

            figure {
                margin-top: 22px;
                height: 149px;
            }

            p {
                text-align: center;
                padding-left: 35px;
                padding-right: 35px;
            }
        }
    }

    .cta-button {
        margin-left: auto;
        margin-right: auto;
        margin-top: -32px;
        background-color: $seconday;
        color: $light;
    }
}

.testimonials {
    margin-top: 192px;

    .cta-button {
        margin-left: auto;
        margin-right: auto;
        background-color: $seconday;
        color: $light;
    }

    article {
        .dropbox {
            margin-top: 89px;
        }

        .section-subtitle {
            margin-top: 57px;
        }

        .profile {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 60px;
            width: 152px;
            align-items: center;
            
            figure {
                margin-right: 12px;
            }

            .profile__info {

                h5 {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.1px;
                    color: $light;
                }

                p {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 27px;
                    letter-spacing: 0.2px;
                    color: #FFFFFF;
                }
            }
        }
    }

    .cta-button {
        margin-top: 76px;
        width: 280px;
    }
}

.pricing {
    margin-top: 210px;

    .section-subtitle {
        margin-top: 27px;
    }

    .price-table {
        display: flex;
        justify-content: center;
        margin-top: 90px;
        gap: 50px;

        .price-table__card {
            &.gradiend {
                background-image: linear-gradient(45deg, #EF2779, #7834BE);
            }

            padding: 40px;
            width: 335px;
            height: 310px;
            background: #FFFFFF;
            border: 1px solid #DEDEDE;
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            border-radius: 10px;

            .price-table__card__title {
                &.white {
                    color: $light;
                }

                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 33px;
                letter-spacing: 0.1px;
                color: #252B42;
            }

            .price-table__card__description {
                &.white {
                    color: $light;
                }

                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.1px;
                color: #374754;
                margin-top: 5px;
            }

            .price-table__card__price {
                display: flex;
                margin-top: 28px;
                margin-left: 10px;
                
                .price-table__card__number {
                    &.white {
                        color: $light;
                    }

                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 900;
                    font-size: 55px;
                    line-height: 66px;
                    letter-spacing: 0.2px;
                    color: #252B42;
                }

                .price-table__card__detail {
                    margin-top: 3px;
                    margin-left: 10px;

                    .price-table__card__dolar {
                        &.white {
                            color: $light;
                        }

                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 33px;
                        letter-spacing: 0.1px;
                        color: #252B42;
                    }

                    .price-table__card__time {
                        &.white {
                            color: $light;
                        }

                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 18px;
                        letter-spacing: 0.1px;
                        color: #374754;
                    }
                }
            }

            .price-table__cta {
                &.white {
                    background: #FFF;
                    color: $primary;
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }

                display: flex;
                align-items: center;
                justify-content: center;
                width: 255px;
                height: 52px;
                background: $seconday;
                border-radius: 35px;
                color: $light;
                border: 0;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 0.2px;
                margin-top: 27px;
                transition: 400ms;         
            }
        }
    }

}

.contact {
    margin-top: 100px;
    padding-top: 95px;
    padding-bottom: 85px;
    background-color: #D6EBFF;

    .section-subtitle {
        margin-top: 27px;
    }

    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;

        .contact-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 400.72px;
            height: 430.38px;
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.07);
            border-radius: 13px;
            text-align: center;

            h3 {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 14.3816px;
                line-height: 22px;
                letter-spacing: 0.065371px;
                color: #252B42;
                text-align: center;
                margin-top: 26px;
            }

            input[type=text]{
                cursor: pointer;
                box-sizing: border-box;
                padding: 19px 13.0742px;
                width: 318.72px;
                height: 35.84px;
                background: #F5F5F5;
                border: 2px solid #FFFFFF;
                border-radius: 39px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 9px;
                line-height: 10px;
                letter-spacing: 0.065371px;
                color: #374754;
                margin-top: 28px;
                outline: 0;
                transition: 400ms;

                &:focus {
                    border: 2px solid $primary;
                }
            }
            
            textarea {
                display: flex;
                justify-content: flex-start;
                box-sizing: border-box;
                padding: 15px 13px;
                width: 318.72px;
                height: 126.17px;
                background: #F5F5F5;
                border: 2px solid #FFFFFF;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 9.80565px;
                line-height: 10px;
                letter-spacing: 0.065371px;
                color: #374754;
                resize: none;
                margin-left: auto;
                margin-right: auto;
                margin-top: 28px; 
                transition: 400ms;
                outline: 0;
                cursor: pointer;

                &:focus {
                    border: 2px solid $primary;
                }     
            }

            input[type=submit]{
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
    
                transition: 400ms;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 94px;
                height: 34px;
                background: #EF2779;
                border-radius: 35px;
                border: 0;
                align-self: flex-end;
                margin-top: 30px;
                margin-right: 41px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 10px;              
                letter-spacing: 0.130742px;
                color: #FFFFFF;                
            }
        }
    }
}

.contact-info {
    width: 328px;
    padding-left: 64px;

    .contact-info__block {
        display: flex;
        align-items: center;
        margin-top: 13px;

        .contact-info__text {
            &.white {
                color: #fff;
            }

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.1px;
            color: #252B42; 
            margin-left: 20px;                  
        }
    }

    .social {
        display: flex;
        margin-top: 60px;
        gap: 23px;
        margin-left: 10px
    }
}

.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 118px;

    .page-footer__nav {
        margin-right: 120px;

        h3 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.1px;
            color: #FFFFFF;
            margin-bottom: 25px;     
        }
        ul {
            li {
                margin-bottom: 16px;
                a {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 27px;
                    letter-spacing: 0.2px;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }

    .page-footer__map {
        width: 472px;
        height: 247px;
        border-radius: 22px;
    }
}

.swal2-html-container {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

#email-message {
    color: $primary;
}
