*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

body {
  background-color: #252B42;
  background-image: url(../img/header.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%; }

p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff; }

figure {
  text-align: center; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.none {
  display: none; }

.top-header {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 37px; }
  .top-header .top-header__logo {
    margin-left: 40px; }
  .top-header .top-header__menu {
    margin-left: auto;
    margin-right: 55px; }
    .top-header .top-header__menu ul {
      display: flex; }
      .top-header .top-header__menu ul li {
        margin-left: 41px; }
        .top-header .top-header__menu ul li a {
          transition: 400ms;
          color: #ffffff;
          text-decoration: none;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 27px;
          text-align: center;
          letter-spacing: 0.2px; }
          .top-header .top-header__menu ul li a:hover {
            color: #EF2779; }
  .top-header .top-header__form input[type="text"] {
    cursor: pointer;
    padding: 19px 39px;
    width: 271px;
    height: 52px;
    background: #EFEFEF;
    border: 2px solid #EFEFEF;
    border-radius: 39px;
    margin-right: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #18171D;
    outline: 0;
    transition: 400ms; }
    .top-header .top-header__form input[type="text"]:focus {
      border: 2px solid #EF2779; }
  .top-header .top-header__form input[type="submit"] {
    transition: 400ms;
    padding: 19px 38px;
    gap: 10px;
    width: 141px;
    height: 54px;
    background: #FFFFFF;
    border: 0;
    border-radius: 35px;
    color: #EF2779;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    margin-right: 40px; }
    .top-header .top-header__form input[type="submit"]:hover {
      cursor: pointer;
      transform: scale(1.1); }

.page-hero {
  display: flex;
  margin-top: 141px; }
  .page-hero .page-hero__content--left img {
    max-width: 806px;
    width: 100%; }
  .page-hero .page-hero__content--right {
    padding-left: 60px;
    padding-top: 74px; }
    .page-hero .page-hero__content--right h1 {
      color: #ffffff;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 900;
      font-size: 55px;
      line-height: 66px;
      letter-spacing: 0.2px; }
    .page-hero .page-hero__content--right h4 {
      color: #ffffff;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      margin-top: 27px; }
    .page-hero .page-hero__content--right .cta-button {
      margin-top: 69px; }

.cta-button {
  transition: 400ms;
  color: #38A3F1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 236px;
  height: 65px;
  border-radius: 34px;
  border: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px; }
  .cta-button:hover {
    cursor: pointer;
    transform: scale(1.1); }

.section-headline {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff; }

.section-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff; }
  .section-title.dark {
    color: #252B42; }

.section-subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff; }
  .section-subtitle.dark {
    color: #252B42; }

.section-heading-three {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin-top: 9px;
  margin-left: 9px; }

.features {
  max-width: 869px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 180px;
  gap: 50px;
  display: grid;
  grid-template-areas: "grid-item-1 grid-item-1 grid-item-1" "grid-item-2 grid-item-3 grid-item-4"; }
  .features .grid-item-1 {
    grid-area: grid-item-1; }
  .features .grid-item-2 {
    grid-area: grid-item-2; }
  .features .grid-item-3 {
    grid-area: grid-item-3; }
  .features .grid-item-4 {
    grid-area: grid-item-4; }
  .features .features__article--top h1 {
    margin-top: 18px; }
  .features .features__article--top .section-subtitle {
    margin-top: 26px; }
  .features .features__article {
    margin-top: 40px; }
    .features .features__article header {
      display: flex; }
      .features .features__article header .features__article__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        margin-top: 9px;
        margin-left: 9px; }
    .features .features__article p {
      margin-top: 21px; }

.prototyping {
  margin-top: 200px; }
  .prototyping .section-subtitle {
    margin-top: 28px; }
  .prototyping .cta-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 89px;
    background-color: #38A3F1;
    color: #ffffff; }
  .prototyping figure {
    margin-top: 112px; }
    .prototyping figure img {
      max-width: 1034px;
      width: 100%; }

.subscribe {
  margin-top: 211px; }
  .subscribe .section-title {
    margin-top: 8px;
    margin-bottom: 68px; }
  .subscribe .section-headline:nth-child(3) {
    margin-bottom: 10px; }
  .subscribe .subscribe__form input[type=text] {
    cursor: pointer;
    width: 353px;
    height: 54px;
    background: #F4F4F4;
    border: 2px solid #E8E8E8;
    border-radius: 39px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-left: 35px;
    outline: 0; }
    .subscribe .subscribe__form input[type=text]:focus {
      border: 2px solid #EF2779; }
  .subscribe .subscribe__form input[type=submit] {
    transition: 400ms;
    padding: 17px 35px;
    gap: 10px;
    width: 353px;
    height: 50px;
    background: #EF2779;
    border-radius: 35px;
    border: 0;
    color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px; }
    .subscribe .subscribe__form input[type=submit]:hover {
      cursor: pointer;
      transform: scale(1.1); }

.partners {
  margin-top: 233px; }
  .partners .section-title {
    margin-bottom: 27px; }
  .partners .clients {
    margin-top: 103px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 886px;
    grid-template-areas: 'clients__card--1 clients__card--2 clients__card--3' 'clients__card--4 clients__card--5 clients__card--6'; }
    .partners .clients .clients__card {
      margin-bottom: 20px;
      margin-bottom: 89px; }
      .partners .clients .clients__card .clients__card__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #ffffff;
        text-align: center; }
      .partners .clients .clients__card figure {
        margin-top: 22px;
        height: 149px; }
      .partners .clients .clients__card p {
        text-align: center;
        padding-left: 35px;
        padding-right: 35px; }
  .partners .cta-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: -32px;
    background-color: #38A3F1;
    color: #ffffff; }

.testimonials {
  margin-top: 192px; }
  .testimonials .cta-button {
    margin-left: auto;
    margin-right: auto;
    background-color: #38A3F1;
    color: #ffffff; }
  .testimonials article .dropbox {
    margin-top: 89px; }
  .testimonials article .section-subtitle {
    margin-top: 57px; }
  .testimonials article .profile {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 152px;
    align-items: center; }
    .testimonials article .profile figure {
      margin-right: 12px; }
    .testimonials article .profile .profile__info h5 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.1px;
      color: #ffffff; }
    .testimonials article .profile .profile__info p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 27px;
      letter-spacing: 0.2px;
      color: #FFFFFF; }
  .testimonials .cta-button {
    margin-top: 76px;
    width: 280px; }

.pricing {
  margin-top: 210px; }
  .pricing .section-subtitle {
    margin-top: 27px; }
  .pricing .price-table {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    gap: 50px; }
    .pricing .price-table .price-table__card {
      padding: 40px;
      width: 335px;
      height: 310px;
      background: #FFFFFF;
      border: 1px solid #DEDEDE;
      box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
      border-radius: 10px; }
      .pricing .price-table .price-table__card.gradiend {
        background-image: linear-gradient(45deg, #EF2779, #7834BE); }
      .pricing .price-table .price-table__card .price-table__card__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.1px;
        color: #252B42; }
        .pricing .price-table .price-table__card .price-table__card__title.white {
          color: #ffffff; }
      .pricing .price-table .price-table__card .price-table__card__description {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #374754;
        margin-top: 5px; }
        .pricing .price-table .price-table__card .price-table__card__description.white {
          color: #ffffff; }
      .pricing .price-table .price-table__card .price-table__card__price {
        display: flex;
        margin-top: 28px;
        margin-left: 10px; }
        .pricing .price-table .price-table__card .price-table__card__price .price-table__card__number {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 900;
          font-size: 55px;
          line-height: 66px;
          letter-spacing: 0.2px;
          color: #252B42; }
          .pricing .price-table .price-table__card .price-table__card__price .price-table__card__number.white {
            color: #ffffff; }
        .pricing .price-table .price-table__card .price-table__card__price .price-table__card__detail {
          margin-top: 3px;
          margin-left: 10px; }
          .pricing .price-table .price-table__card .price-table__card__price .price-table__card__detail .price-table__card__dolar {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.1px;
            color: #252B42; }
            .pricing .price-table .price-table__card .price-table__card__price .price-table__card__detail .price-table__card__dolar.white {
              color: #ffffff; }
          .pricing .price-table .price-table__card .price-table__card__price .price-table__card__detail .price-table__card__time {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.1px;
            color: #374754; }
            .pricing .price-table .price-table__card .price-table__card__price .price-table__card__detail .price-table__card__time.white {
              color: #ffffff; }
      .pricing .price-table .price-table__card .price-table__cta {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 255px;
        height: 52px;
        background: #38A3F1;
        border-radius: 35px;
        color: #ffffff;
        border: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.2px;
        margin-top: 27px;
        transition: 400ms; }
        .pricing .price-table .price-table__card .price-table__cta.white {
          background: #FFF;
          color: #EF2779; }
        .pricing .price-table .price-table__card .price-table__cta:hover {
          cursor: pointer;
          transform: scale(1.1); }

.contact {
  margin-top: 100px;
  padding-top: 95px;
  padding-bottom: 85px;
  background-color: #D6EBFF; }
  .contact .section-subtitle {
    margin-top: 27px; }
  .contact .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px; }
    .contact .form-container .contact-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400.72px;
      height: 430.38px;
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.07);
      border-radius: 13px;
      text-align: center; }
      .contact .form-container .contact-form h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14.3816px;
        line-height: 22px;
        letter-spacing: 0.065371px;
        color: #252B42;
        text-align: center;
        margin-top: 26px; }
      .contact .form-container .contact-form input[type=text] {
        cursor: pointer;
        box-sizing: border-box;
        padding: 19px 13.0742px;
        width: 318.72px;
        height: 35.84px;
        background: #F5F5F5;
        border: 2px solid #FFFFFF;
        border-radius: 39px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 10px;
        letter-spacing: 0.065371px;
        color: #374754;
        margin-top: 28px;
        outline: 0;
        transition: 400ms; }
        .contact .form-container .contact-form input[type=text]:focus {
          border: 2px solid #EF2779; }
      .contact .form-container .contact-form textarea {
        display: flex;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 15px 13px;
        width: 318.72px;
        height: 126.17px;
        background: #F5F5F5;
        border: 2px solid #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 9.80565px;
        line-height: 10px;
        letter-spacing: 0.065371px;
        color: #374754;
        resize: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 28px;
        transition: 400ms;
        outline: 0;
        cursor: pointer; }
        .contact .form-container .contact-form textarea:focus {
          border: 2px solid #EF2779; }
      .contact .form-container .contact-form input[type=submit] {
        transition: 400ms;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 94px;
        height: 34px;
        background: #EF2779;
        border-radius: 35px;
        border: 0;
        align-self: flex-end;
        margin-top: 30px;
        margin-right: 41px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0.130742px;
        color: #FFFFFF; }
        .contact .form-container .contact-form input[type=submit]:hover {
          cursor: pointer;
          transform: scale(1.1); }

.contact-info {
  width: 328px;
  padding-left: 64px; }
  .contact-info .contact-info__block {
    display: flex;
    align-items: center;
    margin-top: 13px; }
    .contact-info .contact-info__block .contact-info__text {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.1px;
      color: #252B42;
      margin-left: 20px; }
      .contact-info .contact-info__block .contact-info__text.white {
        color: #fff; }
  .contact-info .social {
    display: flex;
    margin-top: 60px;
    gap: 23px;
    margin-left: 10px; }

.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 118px; }
  .page-footer .page-footer__nav {
    margin-right: 120px; }
    .page-footer .page-footer__nav h3 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 33px;
      letter-spacing: 0.1px;
      color: #FFFFFF;
      margin-bottom: 25px; }
    .page-footer .page-footer__nav ul li {
      margin-bottom: 16px; }
      .page-footer .page-footer__nav ul li a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        text-decoration: none; }
  .page-footer .page-footer__map {
    width: 472px;
    height: 247px;
    border-radius: 22px; }

.swal2-html-container {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400; }

#email-message {
  color: #EF2779; }
